body{
    padding: 0;
    margin: 0;
}

/*--------------------------------------------------------------------------------------------header */
.nav-bar{
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.nav-bar .flex_container{
  display: flex;
  height: 7vh;
  width: 69vw;
  align-items: center;
  left: 15.5vw;
  position: relative;
}

.nav-bar .flex_container a{
  padding: 0.5vw;
  text-decoration: none;
  color: rgb(117, 117, 117);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-bar .flex_container .hover:hover{
  background-color: rgb(236, 41, 52);
  color: white;
  border-radius: 5px;
}

.nav-bar .flex_container div{
  flex-grow: 6;
}

.nav-bar .flex_container img{
  width: auto;
  height: 6vh;
}





/*-------------Sub-Menu----------------*/
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  display: block;
}

.nav-bar ul li a:hover {
  color: white;
  background-color: rgb(236, 41, 52);
  border-radius: 5px;
}

.nav-bar ul li ul{
  display: none; /*faz com que o sub menu não esteja visivel*/
  
  text-align: center;
  position: absolute;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;

}

.nav-bar ul li:hover ul {
  display: block;/*faz com que o sub menu apareça*/
}

.nav-bar ul li ul li {
  display: block;
  white-space: nowrap;
}

.nav-bar ul li ul li a {
  
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(117, 117, 117);
}

/*--------------------------------------------------------------------------------------------Imagem */
.imagem{
    margin-bottom: 0;
}

.imagem img{
    vertical-align: top;
    width: 100%;
    height: auto;
}

/*--------------------------------------------------------------------------------------------Barra Gestbit*/
.barra_gestbit{
    background-color:rgb(250, 250, 250);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 100%;
    height: 70px;
    margin-top: 0;

}

.barra_gestbit h1{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

/*--------------------------------------------------------------------------------------------Body*/
.body{
  vertical-align: top;
  
}

.body .flex_container{
  display: flex;
  height: auto;
  width: 69vw;
  align-items: center;
  left: 15.5vw;
  position: relative;
  margin-top: 7vh;
}

.body .flex_container .c1l1{
  width: 30vw;
  padding-right: 2%;
}

.body .flex_container th{
  vertical-align: top;
  text-align: justify;
  padding-bottom: 1%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 90%;
}

.body .flex_container tr{
  text-align: justify;
}

.body .flex_container th p{
  margin: 0;
}




/*--------------------------------------------------------------------------------------------Footer*/
footer{
  margin-top: 15vh;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding-top: 40px;
  background-color: gainsboro;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer .flex_container{
  display: flex;
  height: auto;
  width: 69vw;
  align-items: center;
  left: 15.5vw;
  position: relative;
  margin-top: 7vh;
}

footer .background{
  z-index: 1;
  position: block;
  width: 100%;
  height: auto;
  box-shadow: 0px -3px 37px 12px rgba (0,0,0,0,57)
}

footer table{
  z-index: 2;
  position: block;
}

footer div .logo{
  width: 9vw;
  height: auto;
  text-align: center;
}

footer div p{
  font-weight: lighter;
}



.hora-data{
  width: 100%;
  height: 3vh;
  background-color: black;
  color: white;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}








































/*SLIDER*/

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




















































/*
.body{
  width: auto;
  height: 80vh;
}

.body > .body_container{
    width: 70%;
    margin: 0 auto;
    height: 70px;
}

.body > .body_container > .grid_container{
    display: grid;
    padding-top: 50px;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 30px;
}

.body > .body_container > .grid_container > .item1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
}


.body > .body_container > .grid_container > .item2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
}

.body > .body_container > .grid_container > .item3{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    
}

.body p{
    text-align: justify;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*/





































































/*
.nav_bar{
    width: 100%;
    height: 4vw;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    text-align:right;
    z-index: 100;
}

.nav_bar > .nav_container{
    width: 70%;
    margin: 0 auto;
    height: 70px;
}

.nav_bar > .nav_container img{
    float: left;
    width: 9vw;
    height: auto;
}

.nav_bar ul{
    padding: 0px;
    margin: 0;
    width: auto;
    height: 5vh;
    text-align: center;
    display:inline-block;
    vertical-align:top;
}

.nav_bar li{
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}

.nav_bar li a{
    color: black;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 8px 20px;
    opacity: 0.7;
}

.nav_bar li a:hover{
    background-color: rgb(216, 0, 7);
    color: white;
    border-radius: 5px;

}
*/











































































/*





* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
    background-color: #ffffff;
  }
  
  .container {
    width: 80%; 
    margin: 0 auto; 
}
  .nav {
    height: 50px;
    width: 100%;
    background-color: #3482B5;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:800px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
*/
