/* Adiciona alguns estilos básicos para o slideshow */
.minhasSlides {
    display: none; /* Oculta os slides por padrão */
  }
  
  .ativo {
    color: red; /* Estilo para o ponto ativo */
  }
  
  /* Estilo básico para o contêiner do slideshow e botões */
  .slideshow-container {
    max-width: 1000px; /* Largura máxima do contêiner */
    position: relative; /* Posicionamento relativo */
    margin: auto; /* Centraliza o contêiner */
    margin-top: 20px; /* Espaçamento superior */
  }
  
  button {
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre os botões */
    background-color: #333; /* Cor de fundo dos botões */
    color: white; /* Cor do texto dos botões */
    border: none; /* Remove bordas dos botões */
    padding: 10px 20px; /* Espaçamento interno dos botões */
    font-size: 18px; /* Tamanho da fonte dos botões */
    transition: background-color 0.3s ease; /* Transição suave para a mudança de cor */
  }
  
  button:hover {
    background-color: #555; /* Cor de fundo dos botões ao passar o mouse */
  }
  
  /* Estilo para os pontos/indicadores */
  .ponto {
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre os pontos */
    height: 15px;
    width: 15px;
    margin: 0 2px; /* Espaçamento entre os pontos */
    background-color: #bbb; /* Cor de fundo dos pontos */
    border-radius: 50%; /* Deixa os pontos redondos */
    display: inline-block;
    transition: background-color 0.6s ease; /* Transição suave para a mudança de cor */
  }
  
  /* Cor de fundo do ponto ativo */
  .ponto.ativo {
    background-color: #717171;
  }
  